swagger: '2.0'
info:
  version: 0.1.0
  title: ABS Indicator API (Beta)
  description: |
    <div>
      <h2>About the Beta</h2>
      <p>This beta release allows you to preview ABS Indicator API before it is released in its final form and gives you the opportunity to provide the ABS with feedback as we work to enhance the service.</p>
      <p>We will continue to load new datasets and update existing datasets as soon as possible after embargo on the data is lifted. However, <b>data in this beta release may not necessarily be the most up to date.</b> For the most up to date information visit the <a href="https://www.abs.gov.au/">ABS website</a>.</p>
      <p>Availability of the ABS Indicator API (Beta) is not guaranteed. The service may be subject to change.</p>
      <p>You can contact the ABS APIs team at <a href="mailto:api.data@abs.gov.au">api.data@abs.gov.au</a>. Please let us know any feedback or issues you have. You can request to join our register of interest to be notified of any changes in the API.  The <a href="https://www.abs.gov.au/websitedbs/D3310114.nsf/Home/Privacy?opendocument#from-banner=GB" target="_blank">ABS privacy policy</a> outlines how the ABS handles any personal information that you provide to us.</p>
    </div>
    <div>
      <h2>Key Information</h2>
      <p>The ABS Indicator REST API allows you to request headline economic statistics from the ABS including Australia's key economic indicators.</p>
      <p>All datasets are small, containing only the most in-demand data, so responses are returned as fast as possible.If you wish to request full economic datasets you can do so using the ABS Data API (Beta).</p>
      <p>The ABS Indicator API uses the Statistical Data and Metadata Exchange (SDMX) standard.  Data is available in XML, JSON and CSV.</p>
    </div>
 
  contact:
    email: api.data@abs.gov.au
host: indicator.data.abs.gov.au
schemes:
 - https
securityDefinitions:
   APIKeyHeader:
     type: apiKey
     in: header
     name: X-API-Key
security:
  - APIKeyHeader: []
paths:
  '/data/{dataflowIdentifier}':
    get:
      tags:
        - Get Data
      summary: Get data from a dataflow in XML, JSON or CSV.
      operationId: GetData
      consumes: []
      produces:
        - application/json
        - application/xml
        - application/vnd.sdmx.structurespecificdata+xml
        - text/csv
        - application/vnd.sdmx.data+csv;labels=both
      parameters:
        - name: dataflowIdentifier
          in: path
          description: |
            The dataflow identifier (eg. CPI). A list of all available dataflows and their IDs can be returned using the *GET /{dataflows}* operation.           
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
        '403':
          description: Forbidden. Authorization information is missing or invalid.
        '404':
          description: Not Found. Could not find the dataflow requested
        '500':
          description: Unexpected error.
  '/dataflows':
    get:
      tags:
        - Get Metadata
      summary: Get all available dataflows.
      description: Return a list of all dataflows available and information about them including name and ID. 
      operationId: GetDataflows
      consumes: []
      produces:
        - application/json
        - application/xml
      responses:
       '200':
         description: Success
         schema:
           type: string
       '403':
          description: Forbidden. Authorization information is missing or invalid.
       '500':
          description: Unexpected error.
  '/metadata/{dataflowIdentifier}':
    get:
      tags:
        - Get Metadata
      summary: 'Get structural metadate for a specified dataflow'
      operationId: GetMetadata
      consumes: []
      produces:
        - application/json
        - application/xml
      parameters:
        - name: dataflowIdentifier
          in: path
          description: |
            The dataflow identifier (eg. CPI). A list of all available dataflows and their IDs can be returned using the *GET /{dataflows}* operation.           
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            type: string
        '403':
          description: Forbidden. Authorization information is missing or invalid.
        '404':
          description: Not Found. Could not find the dataflow requested
        '500':
          description: Unexpected error.
definitions: {}
